
            #nameheader{
                color:red;
                font-size:20px;
            }
.secondherder{
    color: green;
    font-size: 15px;
}


            /* có nhiều cách để gọi thẻ */
:root{
    --text-color: red;
}
h1{
    color: var(--text-color);
}